name: Build & Test
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  PYTHON_VERSION: "3.13.11"

jobs:
  lint-and-typecheck:
    name: Linting and Type Checking
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Free up disk space
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          docker-images: true
          large-packages: true
      - name: Show disk space after cleanup
        run: df -h

      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: 'pipenv'
      - name: Install dependencies
        run: uv sync
      - name: Run ruff checks
        run: uv run ruff check
      - name: Run mypy for type checking
        run: uv run mypy

    unit-tests:
      name: Unit Tests
      needs: lint-and-typecheck
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v6

        - name: Free up disk space
          uses: jlumbroso/free-disk-space@v1.3.1
          with:
            tool-cache: false
            android: true
            dotnet: true
            haskell: true
            docker-images: true
            large-packages: true
        - name: Show disk space after cleanup
          run: df -h

        - name: Install uv
          uses: astral-sh/setup-uv@v7
        - name: Set up Python
          uses: actions/setup-python@v6
          with:
            python-version: ${{ env.PYTHON_VERSION }}
            cache: 'pipenv'
        - name: Install dependencies
          run: uv sync
        - name: Run unit tests
          run: uv run pytest -v
