name: Publish to TestPyPI

on:
  workflow_dispatch:

jobs:
  publish:
    name: Publish to TestPyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: '.python-version'
      - name: Build distribution package
        run: uv build
      - name: Publish to TestPyPI
        run: uv publish --publish-url https://test.pypi.org/legacy/ --trusted-publishing=always
